.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  padding: 67px 0 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #545454;
}

@media screen and (max-width: 940px) {
  .footer {
    margin-left: 38px;
  }
  .footer__copyright {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-left: 19px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
