.header {
  margin-bottom: 40px;
  padding: 45px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #545454;
}

.header__title-image {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 940px) {
  .header {
    margin-left: 20px;
  }
  .header__title-image {
    height: 28px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin-left: 27px;
  }
  .header__title-image {
    height: 24px;
  }
}
