.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
  transition: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  width: 358px;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.modal__close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -o-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  margin: 0 0 24px 0;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.modal__input {
  margin-top: 30px;
  padding: 0 0 13px 0;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:focus {
  outline: none;
}

.modal__button {
  margin-top: 48px;
  padding: 0;
  height: 50px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -o-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__preview-container {
  position: relative;
}

.modal__preview-image {
  max-height: 540px;
}

.modal__caption {
  margin: 10px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

/* Inactive classes on load */

.modal__button_disabled {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 0.2;
}

.modal__button_disabled:hover {
  opacity: 0.2;
  cursor: not-allowed;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error_visible {
  opacity: 1;
  color: #ff0000;
}

/* Media Queries */

@media screen and (max-width: 936px) {
  .modal__preview-image {
    max-width: 100%;
  }
  .modal__preview-container {
    max-width: calc(100% - 80px);
  }
}

@media screen and (max-width: 560px) {
  .modal__container {
    min-width: 238px;
    padding: 25px 22px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 22px);
    left: calc(100% - 34px);
  }
  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__button {
    margin-top: 15px;
  }
}
